vendor/*
data/logs/error
module/application/language/
public/robots.txt
public/img/
public/fonts/customicon/Icons.eot
public/fonts/customicon/Icons.svg
public/relatorios/Setores.xlsx
public/relatorios/
zftool.phar
zf.php
init_autoloader.php
composerZend.json
composer.phar
composer.lock
composer.json
README.md
LICENSE.txt
.htaccess
.gitmodules
config/autoload/aws.local.php
data/baseDadosDefault.sql
public/arquivos/
